.progress-bar-track {
fill: none;
stroke: url(#GradientColor) !important;
}
.progress-bar-circ-container, .progress-bar-circ-container svg{
  width: 100% !important;
}
.progress-bar-percent{
font-family: inherit !important;
}
.progress-bar-percent {
  font-size: 12px !important;
  font-weight: bold;
}
.skill-info img{
  margin-right: 5px;
  width: 15px;
}